.Footer-container{
    min-height: 560px;
    max-height: fit-content;
    color: white;
    background: #2E2E2E;;
    z-index: -1;
    padding-bottom: 90px;
    padding: 90px 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}
.join{
    font-weight: 400;
    font-size: 16px;
    color: #E6E6E6;
    width: 400px;
    &__company{
        font-weight: 500;
        font-size: 64px;
        line-height: 88px;
        color: #FFFFFF;
    }
    &__desc{
        line-height: 32px;
        font-weight: 400;
        margin-top: 32px;
    }
    &__name{
        font-weight: 700;
        color: #FFFFFF;
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 24px;
    }
    &__label{
        display: flex;
        align-items: center;
        position: relative;
        width: 282px;
        height: 64px;
        &__btn{
            position: absolute;
            top: 8px;
            right: 9px;
            background: #FED530;
            border-radius: 8px;
            width: 48px;
            height: 48px;
            & img {
                margin: auto;
            }
        }
    }
    &__input{
        width: 100%;
        height: 90%;
        padding: 5px;
        padding-left: 15px;
        background: #525252;
        color: #9A9AB0;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        border: none;
        outline: none;
    }
}

.links {
    color: #E6E6E6;
    display: flex;
    width: 65%;
    flex-direction: column;
    .footer-nav{
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 33%;
        // justify-content: space-between;
        &__title{
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
        }
        &__item{
            display: flex;
            margin-top: 24px;
            &__link{
                text-decoration: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #E6E6E6;
                &:hover, &:active{
                    text-decoration: underline;
                }
            }
        }
        & div {
            margin-top: 100px;
        }
    }
}